form {
    display: flex;
    flex-direction: column;
    margin: 15px 30px;

    > button {
        width: 10vw;
        margin: 10px auto;
    }
}

#status {
    margin-bottom: 15px;
}

mat-radio-button {
    margin-right: 15px;
}