mat-form-field {
    margin: 0 10px;
}

#topbar {
    display: flex;
    flex-direction: row;

    > button {
        height: 40px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

#topbar_tree {
    float: right;
    margin-right: 50px;
    margin-top: 15px;

    > button {
        float: right;
    }
}

#tree {
    display: none;
    flex-direction: column;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
    width: 100%;

    > mat-table {
        width:100%;
    }
}

.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

.example-detail-row {
    overflow: hidden;
    height: 0;
}